* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: none;
}

body {
    min-height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
}

button {
    border-color: white;
}

.ms-wrapper {
    border: 2px solid white;
    padding: 50px;
    box-shadow: 10px 7px 5px grey;
}

.wrapper {
    background-color: white;
    padding: 20px;
}

hr {
    border: 2px solid green;
}